/* Style variables */

:root {
    /* --color-light: hsl(35, 45%, 83%); */
    --color-light: hsl(0, 0%, 100%);
    --color-dark: hsl(200, 90%, 4%);
    --color-primary: hsl(175, 43%, 47%);
    --color-secondary: hsl(175, 39%, 25%);
    --color-link: hsl(10, 84%, 76%);

    --bg-color: var(--color-dark);
    --text-color: var(--color-light);
}

/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: currentColor;
}

button {
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    z-index: 99;
}

#logo {
    color: var(--text-color);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-item {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 8px;
}

#gallery {
    cursor: alias;
}

/* Header */

header {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    /* background-image: radial-gradient(rgba(0, 0, 0, 0.4) 1px, transparent 0);
    background-size: 2px 2px;
    background-position: -2px -2px; */
}

#bg-video {
    object-fit: cover;
    min-width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: -1;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

#logo-main {
    display: flex;
    align-items: center;
    /* filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.2)); */
}

#logo-main img {
    max-height: 8rem;
    max-width: 90vw;
}

#logo-main svg path {
    fill: hsl(35, 45%, 83%);
}

#sub-heading {
    font-size: 20px;
    font-weight: 200;
    /* text-shadow: 0px 1px 0px var(--bg-color); */
    text-align: center;
}

.coming-soon {
    font-size: 16px;
    border: solid 1px var(--text-color);
    border-radius: 100px;
    padding: 2px 8px;
    font-weight: 200;
    /* text-shadow: 0px 1px 0px var(--bg-color); */
    text-align: center;
}

#cta-experience {
    font-size: 16px;
    border: solid 1px var(--text-color);
    border-radius: 100px;
    padding: 8px 16px;
    font-weight: 200;
    text-align: center;
    transition: all .5s ease-in-out;
}

#cta-experience:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.text-reveal-1 {
    opacity: 0;
    animation: textReveal .5s forwards;
}

.text-reveal-2 {
    opacity: 0;
    animation: textReveal .8s forwards;
}

.text-reveal-3 {
    opacity: 0;
    animation: textReveal 1s forwards;
}

@keyframes textReveal {
    from {
        filter: blur(100px);
        transform: scale(.2);
    }

    to {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}

/* Music player */

#player {
    display: none;
}

#playing-icon {
    display: none;
}

@media (max-width: 767px) {
    #playPauseBtn {
        display: none;
    }
}

#playPauseBtn {
    color: var(--text-color);
    padding: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .6;
    transition: all .25s ease-in-out;
}

#playPauseBtn:hover {
    opacity: 1;
}

/* Sections */

section {
    display: none;
    height: 100svh;
}

/* About */

#about {}

/* Shop */

#shop {}

/* Start experience */

#intro {
    height: 100svh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

#intro-video {
    object-fit: cover;
    min-width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    animation: intro-in 2s ease-in-out;
}

#intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    font-size: 24px;
    font-weight: 200;
    text-shadow: 0px 0px 32px var(--bg-color);
    text-align: center;
    animation: intro-in 1s ease-in;
}

.intro-out {
    animation: intro-out 2.5s ease-out;
}

@keyframes intro-in {
    from {
        opacity: 0;
        filter: blur(12px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes intro-out {
    to {
        opacity: 0;
        filter: blur(12px);
    }
}

/* Story */

#story {
    position: relative;
    height: 100svh;
    overflow: hidden;
}

#story-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#story-image source {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#story-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

#story-content {
    margin: 12px;
    padding: 12px;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    max-width: 56ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, .6);
    transition: all .5s ease-in;
}

#story-content:hover {
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(16px);
}

@media screen and (max-width: 600px) {
    #story-content {
        text-shadow: none;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(16px);
    }
}

#story-actions {
    width: 100%;
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

#story-timeline {
    font-weight: 200;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all .25s ease-in-out;
}

.timeline-event {}

.story-choice {
    font-size: 1rem;
    text-align: start;
    font-weight: 200;
    opacity: .6;
    cursor: pointer;
    transition: all .25s ease-in;
}

.story-choice:hover {
    opacity: 1;
}

.story-previous-choice {
    opacity: .8;
}

.story-reveal-in {
    animation: storyTextRevealIn 1s ease-in-out;
}

@keyframes storyTextRevealIn {
    from {
        opacity: 0;
        filter: blur(12px);
    }

    to {
        filter: blur(0);
    }
}

.story-reveal-out {
    animation: storyTextRevealOut 2s ease-in-out;
}

@keyframes storyTextRevealOut {
    from {
        filter: blur(0);
    }

    to {
        filter: blur(12px);
        opacity: 0;
    }
}

#story-text {
    display: none;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    transition: all .25s ease-in-out;
}

#story-choices {
    font-weight: 200;
    margin-top: 24px;
    padding-top: 0;
    width: 100%;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 4px;
    transition: all .5s ease-in;
}

.choice-item {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    opacity: 0.6;
    transition: all .5s ease-in-out;
}

.choice-item:hover {
    opacity: 1;
}