/* Style variables */

:root {
    --color-light: hsl(40, 60%, 95%);
    --color-dark: hsl(180, 100%, 5%);
    --color-primary: hsl(175, 39%, 25%);
    --color-secondary: rgb(24, 196, 173);
    --color-link: rgba(255, 255, 255);

    --bg-color: var(--color-dark);
    --text-color: var(--color-light);
}

/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    /* height: 100vh;
    overflow: hidden; */
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}


a,
button {
    all: unset;
    cursor: pointer;
}

/* Utilities */

.italic {
    font-style: italic;
}

.highlight {
    background-color: var(--color-primary);
}

/* Mouse follow */

.mouse-follow {
    display: none;
    position: absolute;
    height: 20vw;
    width: 20vw;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
    backdrop-filter: url(#noise);
    -webkit-mask: radial-gradient(rgba(0, 0, 0, .5) 10%, rgba(0, 0, 0, 0) 60%);
    border: solid 1px red;
    z-index: 2;
    transition: all .5s ease-out;
}

/* Navigation */

#nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    z-index: 999;
}

#logo {
    color: var(--text-color);
    cursor: pointer;
}

/* Header */

#introduction {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#introduction img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.6);
    min-height: 100vw;
    object-fit: cover;
    z-index: -1;
}

#introduction img:nth-of-type(2) {
    animation: backgroundFadeOut 2s ease-in forwards;
}

@keyframes backgroundFadeOut {
    to { opacity: 0; }
}

#introduction-title {
    margin-bottom: 16px;
}

#introduction p {
    font-weight: 100;
    font-size: 24px;
}

#dive-in {
    position: relative;
    font-size: 32px;
    margin-top: 64px;
    z-index: 3;
    padding: 16px 32px;
    border-radius: 48px;
    border: solid 1px var(--text-color);
    overflow: hidden;
    transition: all 1s ease-out;
}

#dive-in:hover {
    color: var(--bg-color);
}

#dive-in::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    transform: translateY(96px);
    background-color: var(--text-color);
    z-index: -1;
    animation: diveInWaveRotate 6s ease-in infinite;
}

@keyframes diveInWaveRotate {
    0% { transform: rotate(2deg) translateY(96px); }
    20% { transform: rotate(1deg) translateY(93px); }
    30% { transform: rotate(-2deg) translateY(96px); }
    65% { transform: rotate(2deg) translateY(97px); }
    80% { transform: rotate(-1deg) translateY(95px); }
    100% { transform: rotate(2deg) translateY(96px); }
}

#dive-in:hover::before {
    animation: diveInWaveRaise 2s ease-out forwards;
}

@keyframes diveInWaveRaise {
    40% { transform: rotate(-2deg) translateY(40px); }
    60% { transform: rotate(1deg) translateY(30px); }
    100% { transform: translateY(0px); }
}

/* Summary */

#project-card,
#genesis-card,
#experience-card {
    position: relative;
    overflow: hidden;
    width: 33.33%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all ease-out .4s;
}

#project-card:hover,
#genesis-card:hover,
#experience-card:hover {
    width: 36%;
}

#project-card {
    background-image: url(./assets/photos/surface_fishes.png);
}

#genesis-card {
    background-image: url(./assets/photos/floating.webp);
}

#experience-card {
    background-image: url(./assets/photos/breath.webp);
}

.card-content {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    backdrop-filter: blur(12px);
    transition: all ease-out .4s;
}

.card-content:hover {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0);
}

.card-content h2 {
    margin-top: auto;
    font-size: 64px;
    font-weight: 400;
}

.rotate-title {
    width: 400px;
    transform-origin: top left;
    transform: rotate(-90deg);
}

.card-content p {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 100;
    max-width: 26ch;
}

.card-content button {
    align-self: flex-start;
    margin-top: 24px;
    font-size: 16px;
    padding: 8px 16px;
    border: solid 1px var(--text-color);
    border-radius: 50px;
    font-weight: 300;
    transition: all ease-in-out .25s;
}

.card-content button:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

.card-content .number {
    margin-top: 16px;
    font-size: 96px;
}

.card-main-content {
    align-self: flex-end;
}

.card-more-content {
    background-color: var(--bg-color);
    width: 50%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-more-content p {
    width: 100%;
    text-wrap: unset;
}

.card-more-content a {
    margin-top: 32px;
    font-size: 16px;
    padding: 8px 16px;
    border: solid 1px var(--text-color);
    border-radius: 50px;
    font-weight: 300;
}

/* Pages */

main>* {
    display: none;
}

section {
    height: 100vh;
    padding: 32px;
    overflow: hidden;
}

#start {
    align-items: center;
    justify-content: center;
}

#start img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.6);
    min-height: 100vw;
    object-fit: cover;
    z-index: -1;
}

#start p {
    text-align: center;
    width: 80%;
    font-size: 32px;
    font-weight: 100;
}

#start-wave {
    position: absolute;
    top: 100vh;
    width: 120vw;
    height: 120vh;
    background-color: var(--bg-color);
    animation: startWaveRaise 3s ease-out 6s forwards;
}

@keyframes startWaveRaise {
    to { top: 0; }
}

/* Story */

.story-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.story-photo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70vw;
    max-height: 70vw;
    border: solid 16px var(--text-color);
    object-fit: cover;
    z-index: -1;
    animation: photoFadeIn 2s ease-out forwards;
}

@keyframes photoFadeIn {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}

.story-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    bottom: 0;
    padding-bottom: 24px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(2px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 999;
}

.story-text {
    width: 90ch;
    font-size: 18px;
    font-weight: 100;
    text-wrap: balance;
    white-space: pre-line;
}

.letter {
    opacity: 0;
    transform: rotate(-4deg);
    animation: letterFadeIn 1s ease-out .5s forwards;
}

@keyframes letterFadeIn {
    to {
        transform: rotate(0);
        opacity: 1;
    }
}

.story-choices {
    display: flex;
    justify-content: center;
    gap: 4px;
    /* opacity: 0; */
    overflow: hidden;
    animation: textFadeIn 1s ease-out 8s forwards;
}

.choice {
    padding: 12px 24px;
    /* border: solid 1px var(--text-color); */
    background-color: hsla(40, 60%, 95%, .05);
    border-radius: 24px;
    font-weight: 200;
    transform: translateY(48px);
    transition: all 1s ease;
    opacity: 0;
    animation: choiceFadeIn 2s ease-in-out 8s forwards;
}

@keyframes choiceFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.choice:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

.choice-1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.choice-2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.previous-choice {
    display: none;
    animation: textFadeIn .5s ease-out forwards;
}

@keyframes textFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Footer */

footer {
    text-align: center;
    height: 4rem;
}